{{ album }}

<img src="{{ album.album_logo }}">

<h1>{{ album.album_title }}</h1>

<h3>{{ album.artist }}</h3>

{% if error_message %}
    <p><strong>ERROR MESSAGE: {{ error_message }}</strong></p>
{% endif %}

<!-- when user submit form, it packages up all the data, ets selected song, sends it to url music:favorite-->
<!-- url 'music:favorte' -->
<form action="{% url 'favorite' album.id %}" method="post">
    
        {% csrf_token %}
        {% for song in album.song_set.all %}
            <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">
            <label for="song{{ forloop.counter }}">
                {{ song.song_title }}
                {% if song.is_favorite %}
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Red_star.svg/2000px-Red_star.svg.png" />
                {% endif %}
            </label> <br>
        {% endfor %}
        <input type="submit" value="Favorite">
        
        </form>
    <!-- csrf cross-site-request-forgery token-->

<ul>
    {% for song in album.song_set.all %}
    <li>{{ song.song_title }} - {{ song.file_type }}</li>
    {% endfor %}
</ul>